[submodule "creates/site/roles/ceph-ansible"]
	path = creates/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "creates/site/roles/srl-ansible"]
	path = creates/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "compile/site/roles/srl-ansible"]
	path = compile/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "compile/site/roles/ceph-ansible"]
	path = compile/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "scale/site/roles/ceph-ansible"]
	path = scale/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "scale/site/roles/srl-ansible"]
	path = scale/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/droplease-cache/site/roles/ceph-ansible"]
	path = experiments/droplease-cache/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/droplease-nocache/site/roles/ceph-ansible"]
	path = experiments/droplease-nocache/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/droplease-cache/site/roles/srl-ansible"]
	path = experiments/droplease-cache/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/droplease-nocache/site/roles/srl-ansible"]
	path = experiments/droplease-nocache/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
