[submodule "creates/site/roles/ceph-ansible"]
	path = creates/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "creates/site/roles/srl-ansible"]
	path = creates/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "compile/site/roles/srl-ansible"]
	path = compile/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "compile/site/roles/ceph-ansible"]
	path = compile/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "scale/site/roles/ceph-ansible"]
	path = scale/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "scale/site/roles/srl-ansible"]
	path = scale/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/droplease-cache/site/roles/ceph-ansible"]
	path = experiments/droplease-cache/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/droplease-nocache/site/roles/ceph-ansible"]
	path = experiments/droplease-nocache/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/droplease-nocache/site/roles/srl-ansible"]
	path = experiments/droplease-nocache/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/kernel/droplease-cache/site/roles/ceph-ansible"]
	path = experiments/kernel/droplease/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/kernel/droplease-cache/site/roles/srl-ansible"]
	path = experiments/kernel/droplease/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/kernel/journal/site/roles/ceph-ansible"]
	path = experiments/kernel/journal/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/kernel/consistency/site/roles/ceph-ansible"]
	path = experiments/kernel/consistency/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/kernel/create200k/site/roles/ceph-ansible"]
	path = experiments/kernel/create200k/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/kernel/scale-clients/site/roles/ceph-ansible"]
	path = experiments/kernel/scale-clients/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/kernel/consistency/site/roles/srl-ansible"]
	path = experiments/kernel/consistency/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/kernel/create200k/site/roles/srl-ansible"]
	path = experiments/kernel/create200k/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/kernel/journal/site/roles/srl-ansible"]
	path = experiments/kernel/journal/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/kernel/scale-clients/site/roles/srl-ansible"]
	path = experiments/kernel/scale-clients/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/fuse/scale-clients/site/roles/srl-ansible"]
	path = experiments/fuse/scale-clients/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/fuse/consistency/site/roles/srl-ansible"]
	path = experiments/fuse/consistency/site/roles/srl-ansible
	url = https://github.com/systemslab/srl-roles.git
[submodule "experiments/fuse/scale-clients/site/roles/ceph-ansible"]
	path = experiments/fuse/scale-clients/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/fuse/consistency/site/roles/ceph-ansible"]
	path = experiments/fuse/consistency/site/roles/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
